header{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
}

header nav{
    background: #8685859b;
    box-shadow: 0px 5px 10px rgba(5, 9, 255, 0.459);
    font-size: 20px;
}

header nav ul{
    list-style: none;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}
header nav ul li{
float: left;
}
header nav ul li a{
    display: block;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration:underline ;
}
header nav ul li a:hover{
    background: rgb(105, 105, 105);
    color: aqua;
    box-shadow: 0px 10px 20px rgb(255, 255, 255, 1);

}
p{
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 70%;
    font-size: 25px;
}
footer{
    background-color: #8685859b;
    box-shadow:0px 10px 20px rgba(2, 15, 255, 0.623);
    position:relative;
}
footer p{
    text-align: center;    
    margin-top: 10px;
    width: 99%;
    padding: 10px;
    clear: both;
    color: white;
     
}
a{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration:underline ;
}